*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "roboto";
}
h1{
  padding: 30px;
  text-align: center;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;

}
img{
  height: 600px;
  width: 400px;
}
.prev, .next{
  font-size: 2.5em;
  padding: 30px;
  cursor: pointer;
}
